XMLExample/XMLExample/src/main/resources/train.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ch="Chuggington"
	targetNamespace="Chuggington">
	<xs:include schemaLocation="direction.xsd" />
	<xs:element name="train">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="trainID" type="xs:ID" />
				<xs:element name="name" type="xs:string" />
				<xs:element name="throwTunnelTime" type="xs:integer" />
				<xs:element name="direction" type="ch:Direction" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>