XMLExample/XMLExample/src/main/resources/train.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ch="Chuggington" targetNamespace="Chuggington">
	<xs:include schemaLocation="direction.xsd" />
	<xs:complexType name="train">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="throwTunnelTime" type="xs:integer" />
			<xs:element name="direction" type="ch:Direction" />			  
		</xs:sequence>
		<xs:attribute  name="id"  type="xs:ID"  use="required"/>
	</xs:complexType>
</xs:schema>